######### gh-pages

# (nothing special here)

######### common for all branches

# Logs
/logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Esdoc
/doc/ast
/doc/dump.json
/doc/package.json

# Dependency directory
/node_modules

# OSX
*.DS_Store