{
  "extends": "airbnb/legacy",
  "env": {
    "browser": true,
    "es6": false
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "func-names": 0,
    "id-length": 0,
    "indent": 0,
    "no-use-before-define": [2, "nofunc"],
    "no-var": 0,
    "padded-blocks": 0,
    "vars-on-top": 0
  }
}